<!DOCTYPE html>
<html>
    <head>
        <title>HTML cheat sheet</title>
    </head>
    <body>
        <!-- h1 je največji heading, skupno jih je 6 in se razrščajo po velikosti -->
        <h1>Heading 1</h1>

        <!-- paragraf je p tag -->
        <!-- strong naredi besedilo bold -->
        <p> <strong>to je paragraf</strong></p>

        <!-- em naredi besedilo italic, oziroma lahko spremenis v css-->
        <p> <em>to je paragraf</em></p>

        <!-- blank odpre link v novem zavihku -->
        <a href="/vaja" target="_blank">to je link ki te vrne nazaj na stran</a>

        <!-- list poznamo unordered in ordered -->
        <ul>
            <li>list item one</li>
            <li>list item two</li>
        </ul>
    </body>
</html>